<%- include ("partials/headers.ejs") %>

<title><%= ThisSong %> </title>

<link rel="stylesheet" href="./css/my-songs.css">
</head>

<body> 
    <h1><%= song.title %></h1>
    <%= song.id %>

    <script src="/public/script/my-songs.js"></script>
</body>
</html>